@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	font: 400 16px/1 'Roboto', sans-serif;

	color: #000F;
}

* { box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	article#root {
		display: flex; justify-content: center;
		align-items: center;

		width: 100%; height: 100%;
		margin: {
			right: auto; left: auto;
		}
	}
}


img {
	display: block;
}
