:root {
	--light-white-color: #FFF;
	--light-red-color: #FF3B30; --light-blue-color: #007AFF;
	--light-background-color: #F2F2F7;
}

* {
	font: 400 16px/1.2em 'Golos Text', sans-serif;

	padding: 0; margin: 0;
	border: unset;

	transition: all 250ms linear;
}

body {
	width: 100lvw; height: 100lvh;

	display: flex;
	justify-content: center; align-items: center;

	background: var(--light-background-color);
}

form {
	aspect-ratio: 1/.65;
	display: flex; position: relative;
	flex-wrap: wrap; flex-direction: column;
	justify-content: space-evenly;
}

fieldset {
	display: flex; justify-content: space-between;
}

button {
	position: absolute;
	top: 100%;
	align-self: flex-end;

	padding: 1.1rem 1.45rem;

	color: var(--light-white-color); background: var(--light-blue-color);

	border-radius: 2rem;
	opacity: 100%;
	transition: all 250ms ease;

	cursor: pointer;
}

button[disabled] {
	top: 102%;
	opacity: 0%;
	cursor: default;
}

input {
	font-size: 1.0625em;

	width: 41.85%;
	padding: 1.3rem 1.05rem;

	border-radius: .4375rem;
}

input[name='birthday'],
input[name='email'] {
	box-sizing: border-box;
	width: 100%;
}

form:not([novalidate]) input:not(:focus-visible):invalid {
	outline: .0625rem var(--light-red-color) solid;
	background: #FFE9E8;
}

*:focus-visible { outline: .0625rem #999 solid }

*::selection,
 ::-webkit-datetime-edit-year-field:focus,
 ::-webkit-datetime-edit-month-field:focus,
 ::-webkit-datetime-edit-day-field:focus
{
	color: var(--light-white-color);
	background: var(--light-blue-color) !important;
}

*::placeholder { color: #8E8E93 }
