:root {
	--light-white-color: #FFFFFFFF;
	--light-red-color: #FF3B30FF; --light-blue-color: #007AFFFF;

	--light-placeholder-color: #8E8E93FF;
	--light-background-color: #F2F2F7FF;

	--light-outline-color: #999999FF;
}

* {
	font: 400 16px/1.2em 'Golos Text', sans-serif;

	padding: 0; margin: 0;
	border: unset;

	transition: all 250ms linear;
}

body {
	width: 100lvw; height: 100lvh;

	display: flex;
	justify-content: center; align-items: center;

	background: var(--light-background-color);
}

*::placeholder {
	color: var(--light-placeholder-color)
}

*:focus-visible {
	outline: .0625rem var(--light-outline-color) solid
}

*::selection,
 ::-webkit-datetime-edit-year-field:focus,
 ::-webkit-datetime-edit-month-field:focus,
 ::-webkit-datetime-edit-day-field:focus
{
	color: var(--light-white-color);
	background: var(--light-blue-color) !important;
}
