$ua-palette: ('blue': #0057B8FF, 'yellow': #FFD700FF);

$palettes: ('light': $light-palette, 'ua': $ua-palette);

:root {
	--defualt-: {
		font-weight: 400;
		font-size: 16px;
		font-line-height: normal;
		font-family: "Commissioner", sans-serif;
	}

	--default-font: var(--default-font-weight) var(--default-font-size)/var(--default-font-line-height) var(--default-font-family);

	--light-tint-color: #000000FF; // JavaScript shall assign the variable a random color.

	--light-foreground-color: #000000FF; // `Control.DefaultForeColor`
	--light-background-color: #F0F0F0FF; // `Control.DefaultBackColor`

	--light-white-color: #FFFFFFFF;
	--light-black-color: #000000FF;

	--light-red-color: #FF3B30FF;
	--light-orange-color: #FF9500FF;
	--light-yellow-color: #FFCC00FF;
	--light-green-color: #34C759FF;
	--light-mint-color: #00C7BEFF;
	--light-teal-color: #30B0C7FF;
	--light-cyan-color: #32ADE6FF;
	--light-blue-color: #007AFFFF;
	--light-indigo-color: #5856D6FF;
	--light-purple-color: #AF52DEFF;
	--light-pink-color: #FF2D55FF;
	--light-brown-color: #A2845EFF;
}

@mixin body {
	@keyframes letterin_1 {
		from { transform: translateY(440%) scale(10) { origin: top } }
		to { transform: translateY(0) scale(1) { origin: bottom } }
	}

	html > body:last-child:only-of-type {
		@include UIView;

		font-family: var(--default-font-family);

		max: { width: 100svw; height: 100svh }
	}
}

@mixin UIView {
	> article:first-child:only-of-type#UIView { @include about }
}

@mixin about {
	> header:first-child:only-of-type {
		> address:only-child:only-of-type { @include author }

		position: absolute;
		inset: 0;

		display: flex; flex-flow: column;
		justify-content: center;
		align-items: center;

		overflow: inherit; // overflow нужен для анимаций!

		background: var(--light-tint-color);
		z-index: 1055;
	}
}

@mixin author {
	$shadow: (
		.03em .03em .1em #2F2F2F,
		.054em .054em 0em var(--light-tint-color)
	);

	> h1:only-child:only-of-type {
		@include copyright;

		position: relative;

		font: 0rem/1.6em 'Sacramento', cursive;
		font: 5rem/1.6em 'Pacifico', cursive;
		color: var(--light-black-color);
		text-shadow: $shadow;

		margin: 0;

		filter: invert(1);

		> span.letter {
			display: inline-block !important;

			white-space: pre;
			animation: paused letterin_1 forwards .75s cubic-bezier(.15, .95, .45, 1);
		}
	}
}

@mixin copyright {
	> small:only-of-type {
		position: absolute;
		inset: 94% 0 0 auto;

		font: .82rem/1em 'JetBrains Mono', monospace;
		color: var(--light-black-color);

		text-transform: uppercase; text-shadow: none;
}
}

@mixin application {
	> article {
		@include aside;
		@include editor;

		position: absolute;
		inset: 0;

		display: flex; flex-flow: row wrap;

		width: 100%; height: 100%;
	}
}

@include body;
