@import url('./tailwind.css');

:root {
	--light-background-color: #FAFAFA
}

html, body {
	height: 100%
}

html {
	background-color: var(--light-background-color);
	background-image: url('../public/pattern.svg');
}
